<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6gtdbSPulYB9Sn7Pm57nENUr_ai1XQ4s</string>
	<key>GCM_SENDER_ID</key>
	<string>345249225162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pandahubfrontend</string>
	<key>PROJECT_ID</key>
	<string>pandahub-7329d</string>
	<key>STORAGE_BUCKET</key>
	<string>pandahub-7329d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345249225162:ios:769017e679cc68ee67d733</string>
</dict>
</plist>